- path: /etc/nvidia/nvidia-application-profiles-rc.d/50-limit-free-buffer-pool-in-wayland-compositors.json
  content: |
    {
        "rules": [
            {
                "pattern": {
                    "feature": "procname",
                    "matches": "niri"
                },
                "profile": "Limit Free Buffer Pool On Wayland Compositors"
            }
        ],
        "profiles": [
            {
                "name": "Limit Free Buffer Pool On Wayland Compositors",
                "settings": [
                    {
                        "key": "GLVidHeapReuseRatio",
                        "value": 0
                    }
                ]
            }
        ]
    }

- path: /usr/lib/systemd/zram-generator.conf
  content: |
    [zram0]
    zram-size = min(ram, 8192)

- path: /usr/lib/systemd/system-preset/91-resolved-default.preset
  content: |
    enable systemd-resolved.service

- path: /usr/lib/tmpfiles.d/resolved-default.conf
  content: |
    L /etc/resolv.conf - - - - ../run/systemd/resolve/stub-resolv.conf

- path: /etc/greetd/config.toml
  content: |
    [terminal]
    vt = 1

    [default_session]
    command = "dms-greeter --command niri -C /etc/greetd/niri.kdl"
    user = "greeter"

- path: /etc/systemd/system/podman-tcp.service
  content: |
    [Unit]
    Description=Podman TCP socket
    After=network.target
    StartLimitIntervalSec=0

    [Service]
    Type=simple
    Restart=always
    RestartSec=1
    ExecStart=/usr/bin/podman system service --time=0 tcp://127.0.0.1:37017

    [Install]
    WantedBy=multi-user.target

- path: /etc/greetd/niri.kdl
  content: |
    hotkey-overlay {
        skip-at-startup
    }

    environment {
        DMS_RUN_GREETER "1"
    }

    gestures {
      hot-corners {
        off
      }
    }

    layout {
      background-color "#000000"
    }

- path: /usr/share/libinput/zz1-00-lenovo.quirks
  content: |
    [Lenovo Ideapad Gaming 3]
    MatchUdevType=keyboard
    MatchVendor=0x048D
    MatchProduct=0xC976
    AttrKeyboardIntegration=internal

- path: /etc/xdg/mimeapps.list
  content: |
    [Default Applications]
    # URI handlers
    x-scheme-handler/http=dms-open.desktop
    x-scheme-handler/https=dms-open.desktop
    x-scheme-handler/ftp=dms-open.desktop
    x-scheme-handler/mailto=dms-open.desktop

    # Web & documents
    text/html=dms-open.desktop
    application/xhtml+xml=dms-open.desktop
    text/plain=dms-open.desktop
    application/xml=dms-open.desktop
    text/xml=dms-open.desktop
    application/pdf=dms-open.desktop

    # Common archives
    application/zip=dms-open.desktop
    application/x-tar=dms-open.desktop
    application/gzip=dms-open.desktop
    application/x-bzip2=dms-open.desktop

    # Common image formats
    image/jpeg=dms-open.desktop
    image/png=dms-open.desktop
    image/gif=dms-open.desktop
    image/webp=dms-open.desktop
    image/svg+xml=dms-open.desktop
    image/bmp=dms-open.desktop

    # Common audio formats
    audio/mpeg=dms-open.desktop
    audio/ogg=dms-open.desktop
    audio/flac=dms-open.desktop
    audio/wav=dms-open.desktop

    # Common video formats
    video/mp4=dms-open.desktop
    video/webm=dms-open.desktop
    video/ogg=dms-open.desktop
    video/x-msvideo=dms-open.desktop

- path: /etc/pipewire/pipewire.conf.d/virtual-channels.conf
  content: |
    context.modules = [
        { name = libpipewire-module-loopback
            args = {
                node.description = "Game"
                capture.props = {
                    node.name      = "game_output"
                    media.class    = "Audio/Sink"
                    audio.position = [ FL FR ]
                }
                playback.props = {
                    node.name      = "playback.game_output"
                    audio.position = [ FL FR ]
                    node.passive   = true
                }
            }
        }
        { name = libpipewire-module-loopback
            args = {
                node.description = "Voice"
                capture.props = {
                    node.name      = "voice_output"
                    media.class    = "Audio/Sink"
                    audio.position = [ FL FR ]
                }
                playback.props = {
                    node.name      = "playback.voice_output"
                    audio.position = [ FL FR ]
                    node.passive   = true
                }
            }
        }
        { name = libpipewire-module-loopback
            args = {
                node.description = "Browser"
                capture.props = {
                    node.name      = "browser_output"
                    media.class    = "Audio/Sink"
                    audio.position = [ FL FR ]
                }
                playback.props = {
                    node.name      = "playback.browser_output"
                    audio.position = [ FL FR ]
                    node.passive   = true
                }
            }
        }
        { name = libpipewire-module-loopback
            args = {
                node.description = "Music"
                capture.props = {
                    node.name      = "music_output"
                    media.class    = "Audio/Sink"
                    audio.position = [ FL FR ]
                }
                playback.props = {
                    node.name      = "playback.music_output"
                    audio.position = [ FL FR ]
                    node.passive   = true
                }
            }
        }
    ]

- path: /usr/lib/systemd/user/opentabletdriver.service
  content: |
    [Unit]
    Description=OpenTabletDriver Daemon
    PartOf=graphical-session.target
    After=graphical-session.target
    ConditionEnvironment=|WAYLAND_DISPLAY
    ConditionEnvironment=|DISPLAY

    [Service]
    ExecStart=otd-daemon
    Restart=always
    RestartSec=3

    [Install]
    WantedBy=graphical-session.target
