[Unit]
Description=Zena Setup
ConditionFirstBoot=yes
Before=greetd.service getty@tty1.service
Before=systemd-user-sessions.service first-boot-complete.target
After=home.mount systemd-homed.service

[Service]
Type=oneshot
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
ExecStart=/usr/libexec/zena-setup.sh

[Install]
WantedBy=multi-user.target
