[Unit]
Description=Zena Setup
ConditionPathExists=!/var/lib/zena-setup.done
Before=greetd.service getty@tty1.service
After=home.mount systemd-homed.service

[Service]
Type=oneshot
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
ExecStart=/usr/libexec/zena-setup.sh

[Install]
WantedBy=graphical.target
